
:root {
    --ff-sans: 'Kumbh Sans', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;

    --fs-400: 0.9375rem;
    --fs-700: 1.75rem;
    --fs-800: 2.75rem;

    --clr-neutral: hsl(219, 9%, 45%);
    --clr-dark: hsl(220, 13%, 13%);
    --clr-light: hsl(220, 14%, 75%);
    --clr-lighter: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale: hsl(25, 100%, 94%);

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--ff-sans);
}

body {
    min-height: 100svh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

/* Header/navigation */

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-list {
    display: none;
    gap: 1.5rem;
    list-style: none;
}

.nav-link {
    font-size: var(--fs-400);
    color: var(--clr-neutral);
    text-decoration: none;
}

.profile-item {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.profile-item > * {
    flex: 1;
    cursor: pointer;
}

.nav-profile > img:hover {
    border: 2px solid var(--clr-orange);
    border-radius: 50%;
}

.header {
    padding: 1rem;
    position: relative;
}

.hamburger {
    position: relative;
    z-index: 50;
}

.shopping-cart {
    display: none;
    position: absolute;
    border-radius: 15px;
    z-index: 50;
    background: var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.shopping-cart.display-cart{
    display: block;
}

.cart-header {
    padding: 1rem;
    border: 1px solid var(--clr-light);
}

.cart-content {
    display: grid;
    height: 12rem;
    place-content: center;
    padding: 1rem;
    gap: 1rem;
}

.cart-content.cart-filled {
    height: fit-content;
    place-content: start center;
}

.cart-primary {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}

.empty-cart-sub {
    font-weight: var(--fw-bold);
}

.empty-cart-sub.not-empty{
    display: none;
}

.nav-cart {
    position: relative;
}

.cart-items {
    display: none;
    position: absolute;
    place-content: center;
    background: var(--clr-orange);
    border-radius: 50%;
    height: 1rem;
    width: 1.25rem;
    top: -50%;
    right: 50%;
}

.cart-items.item-added {
    display: grid;
}

.cart-items-num {
    color: var(--clr-white);
    font-size: 0.75rem;
}

.cart-product {
    display: flex;
    gap: .5rem;
}

/* .cart-product > * {
    flex: 1;
} */

.cart-trash {
    cursor: pointer;
    flex: 1;
}

.cart-product-img {
    flex: 2;
}

.cart-product-info {
    flex: 12;
    display: grid;
}

.checkout-con {
    display: none;
}

.cart-checkout-btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: var(--clr-orange);
    color: var(--clr-pale);
    height: 3rem;
    width: 100%;
    font-weight: var(--fw-bold);
}

.checkout-con.display-checkout {
    display: block;
}

.cart-product-main, .cart-product-sub {
    color: var(--clr-neutral);
}

.cart-product-total {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}


@media screen and (max-width: 799px){
    .nav-list {
        display: block;
        position: absolute;
        background: var(--clr-white);
        left: -100%;
        top: 0;
        height: 100vh;
        width: 75vw;
        z-index: 49;
        padding: 6rem 0 0 1rem;
        transition: all .3s ease-in;
    }

    .lock-screen-small {
        max-height: 100vh;
        overflow: hidden;
    }

    .modal-layer {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: var(--clr-black);
        opacity: .5;
        z-index: 48;
    }

    .modal-layer.display {
        display: block;
    }

    .nav-list.open-menu {
        left: 0;
    }

    .menu-toggle.active {
        content: url(../images/icon-close.svg);
    }

    .nav-list-item {
        margin-bottom: 1.5rem;
    }

    .nav-link {
        font-weight: var(--fw-bold);
        color: var(--clr-dark);
    }

    .shopping-cart {
        top: 125%;
        left: 2%;
        width: 95vw;
    }

    .cart-content {
        height: 16rem;
    }
}



@media screen and (min-width: 800px) {
    body {
        padding: 2rem 8%;
    }

    .navbar {
        padding-bottom: 2.5rem;
        border-bottom: 1px solid var(--clr-light);
        gap: 3.5rem;
    }

    .hamburger {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    .nav-link {
        position: relative;
    }

    .nav-link:hover {
        color: var(--clr-dark);
    }

    .nav-link:hover::before {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        background: var(--clr-orange);
        bottom: -320%;
        
    }

    .shopping-cart {
        right: 0;
        width: 20rem;
    }

    .lock-screen-large {
        max-height: 100vh;
        overflow: hidden;
    }
}


/* main styles */

.product-card {
    position: relative;
}

.arrows {
    display: grid;
    place-content: center;
    position: absolute;
    background: var(--clr-white);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.arrow-prev {
    transform: translate(-50%,-50%);
}

.arrow-next {
    left: 90%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.product-thumbnails {
    display: none;
}

.company-title {
    color: var(--clr-orange);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    letter-spacing: 1.5px;
}

.product-name {
    color: var(--clr-dark);
    font-size: var(--fs-700);
    margin: 1.5rem 0;
}

.product-info {
    padding: 1.5rem;
}

.product-description {
    line-height: 1.5;
}


.price-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem;
    gap: 1rem;
    margin: 1.5rem 0;
}

.product-price {
    color: var(--clr-dark);
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

.price-container > div {
    background: var(--clr-pale);
    display: grid;
    place-content: center;
    border-radius: 5px;
    width: 3rem;
}

.product-discount {
    color: var(--clr-orange);
    font-weight: var(--fw-bold);
}

.og-product-price {
    text-decoration: line-through;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
}

.quantity-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    background: var(--clr-lighter);
    margin-bottom: 1rem;
}

.quantity-container > div {
    cursor: pointer;
}

.quantity-container span {
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
}

.product-cart-btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: var(--clr-orange);
    color: var(--clr-pale);
    display: flex;
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: var(--clr-orange) 0px 25px 50px -12px;
}

.product-cart-btn span {
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
}

.arrows-modal {
    cursor: pointer;
}

@media screen and (max-width:799px) {
    .arrow-prev {
        left: 10%;
        top: 50%;
    }

    .arrow-next {
        left: 90%;
        top: 50%;
    }

    .image-modal {
        display: none;
    }
}

@media screen and (min-width:800px) {

    .main-container {
        display: flex;
        padding: 3rem 4% 5rem 4%;
        gap: 10%;
    }

    .main-container > * {
        flex: 1;
    }
    
    .product-card {
        height: 100%;
        width: 100%;
    }   

    .product-info {
        display: grid;
        place-content: center;
        padding: 0;
    }

    .displayed-item {
        width: 100%;
        margin-bottom: 2rem;
    }

    .product-name {
        font-size: var(--fs-800);
    }

    .product-thumbnails {
        display: flex;
        gap: 2rem;
    }


    .displayed-product, .thumbnail-item {
        border-radius: 15px;
    }

    .thumbnail-item {
        cursor: pointer;
        transition: all .1s ease-in;
    }

    .thumbnail-item:hover {
        opacity: .5;
    }

    .thumbnail-item.clicked {
        opacity: .5;
    }

    .price-container {
        grid-template-columns: max-content max-content;
        grid-template-rows: 2rem 2rem;
        gap: 1rem;
        margin: 0;  
    }

    .adding-container {
        display: flex;
        gap: 1rem;
    }

    .cart-btn-container {
        flex: 2;
    }

    .product-cart-btn:hover {
        opacity: .6;
    }

    .quantity-container {
        flex: 1;
        margin-bottom: 0;
    }

    .company-title,
    .product-name,
    .product-description,
    .price-container {
        margin-bottom: 1.5rem;
    }
    
    .product-name {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    .arrows {
        display: none;
    }

    .image-modal {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
    }

    .image-modal.preview-modal-active {
        display: grid;
    }

    .preview-image-modal {
        width: 25rem;
    }

    .main-image {
        margin-bottom: 1rem;
        position: relative;
    }

    .close-preview-modal {
        position: absolute;
        top: -1.5rem;
        right: 0;
    }

    .close-preview-modal svg path:hover {
        fill: var(--clr-orange);
    }

    .main-image img, .thumbnail-images img {
        border-radius: 15px;
    }

    .thumbnail-images {
        display: flex;
        gap: 1rem;
    }

    .arrows-modal {
        position: absolute;
        display: grid;
        place-content: center;
        background: var(--clr-white);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }

    .arrow-next {
        left: 100%;
        top: 50%;
    }

    .arrow-prev {
        left: 0;
        top: 50%;
    }

    .preview-layer {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: var(--clr-black);
        opacity: .5;
        z-index: 48;
    }

    .preview-layer.display {
        display: block;
    }

}




